@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Vollkorn+SC:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
nav {
  font-size: 100%;
  font-weight: bolder;
  color: white;
}

/* by using "nav ul" instead of just "ul", only an unordered list in the nav bar will take on this styling, meaning it doesn't mess up unordered lists in the main content */
nav ul {
  list-style-type: none;
  text-align: center;
  margin-top: 0px;
  padding: 2%;
}

nav li {
  display: inline;
  padding-left: 5%;
  padding-right: 5%;
  padding-top:2.6%;
  padding-bottom: 2.1%;
  font-size: 350%;
  font-family: "Staatliches", sans-serif;
  font-weight: 700;
  font-style: normal;

}


nav ul li:hover {
  opacity: 0.5;
  background-color: #f8f8f8;
  text-decoration: none
}

nav ul li:active {
  opacity: 0.5;
  background-color: #cfcfcf;
  color: white;
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-bar-item {
  margin: 0px;
  color: white;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.footer {
  display: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(99, 44, 187);
  color: white;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 100%;
  font-family: "Staatliches", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: auto;
}

.footertext{
  color: white;
  text-decoration: underline;
  margin-left:125px;
  margin-right:125px;
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
}

.image {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display:block;
  border:2.5px dashed black;
}

.grid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.displayimg{
  margin-top:10px;
  width: 50%;
  border:2px solid #000000;
}

.displaytxt{
  font-family: "Space Grotesk", serif;
  font-weight: 300;
  font-style: normal;
  font-size:150%;  
  border:1px solid #808080;
  border-radius:3px;
  padding:5px;
  background-color: #ffffff;
}

.displaydiv{
  border: 2.5px dashed black;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display:block;
  background-color: rgb(231, 231, 231);
}

h1{
  font-size: 500%;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2{
  font-size: 250%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h6{
  font-size: 250%;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-style: normal;
  color:red;
  margin:2%;
  text-align: center;
}

p{
  font-size: 175%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  display:block;
  text-align: center;
  width: 700px;
}

label{
  font-size: 250%;
  font-family: "Space Grostik", sans-serif;
  font-weight: 600;
  font-style: italic;
  margin-left:5%;
}

input{
  margin-left:5%;
  font-size: 250%;
}

textarea, table{
  margin-left:5%;
}

br{
  content: "A";
  display: block;
  margin-bottom:10px;
}

main{
  margin:10px;
}
.button{
  margin:10px;
  padding:10px;
  border:1px solid #ccc;
  border-radius:5px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
}

a{
  text-decoration: none;
  color:black
}

main div{
  margin-bottom:5%;
}

.logo{
  width: 10.75%;
  height:10.75%;
  margin-bottom:-2.7%;
  margin-right: 4%;
  margin-left: 1%;
}

table, th, td {
  border:1px solid black;
  font-family: "Staatliches", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 180%;
}

.item{
  text-align:center;
}

.box{
  background-color: #e4e4e4;
  width: 100%;
  height:auto;
  padding-bottom:100px;
  border: dashed 5px;
  padding-top: 20px;
}

input[type=submit], button[type=submit]{
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size:225%;
  width: 25%;
}
/* 
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
   */