@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
nav {
  font-size: 100%;
  font-weight: bolder;
  color: white;
}

/* by using "nav ul" instead of just "ul", only an unordered list in the nav bar will take on this styling, meaning it doesn't mess up unordered lists in the main content */
nav ul {
  list-style-type: none;
  text-align: center;
  margin-top: 0px;
  padding: 2%;
}

nav li {
  display: inline;
  padding-left: 5%;
  padding-right: 5%;
  padding-top:2.6%;
  padding-bottom: 2.1%;
  font-size: 350%;
  font-family: "Staatliches", sans-serif;
  font-weight: 900;
  font-style: normal;

}


nav ul li:hover {
  opacity: 0.5;
  background-color: #f8f8f8;
  text-decoration: none
}

nav ul li:active {
  opacity: 0.5;
  background-color: #cfcfcf;
  color: white;
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-bar-item {
  margin: 0px;
  color: white;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(99, 44, 187);
  color: white;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  }

.image {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display:block;
  border:2.5px dashed black;
}

h1{
  font-size: 500%;
  font-family: "Staatliches", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2{
  font-size: 300%;
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p{
  font-size: 200%;
  font-family: "Staatliches", sans-serif;
  font-weight: 100;
  font-style: normal;
}

label{
  font-size: 150%;
  font-family: "Staatliches", sans-serif;
  font-weight: 50;
  font-style: normal;
}

.display{
  font-size: 30px;
}

br{
  content: "A" !important;
  display: block !important;
  margin-bottom: 30px !important;
}

main{
  margin:10px;
}
main a{
  margin:10px;
  padding:10px;
  border:1px solid #ccc;
  border-radius:5px;
  text-decoration:none;
  font-family: "Staatliches", sans-serif;
  font-weight: 500;
  font-style: normal;
}

a{
  text-decoration: none;
  color:black
}

main div{
  margin:5%
}

.logo{
  width: 10.75%;
  margin-bottom:-2.7%;
  margin-right: 4%;
  margin-left: 1%;
}

table, th, td {
  border:1px solid black;
  font-family: "Staatliches", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 130%;
}

.item{
  text-align:center;
}

.box{
  background-color: #e4e4e4;
  width: 1400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display:block;
  padding-bottom:100px;
}
/* 
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
   */