{% extends 'layout.html' %} 
{% block content %} 
<h1>What do we do here?</h1>
<p>We are here to provide all the necessary information whenever you feel like you struggle with your decisions on your trash.<br>
    Maybe you have a lot of questions surrounding gardening waste, foods left deep in the fridge for so long,<br>
    or even appliances you no longer want to use; we can answer these questions for you!
</p>
<h1>Why make this website?</h1>
<p>There are many official websites that do the exact same thing as ours, like government websites and recycling organisations,<br>
    but just never provide enough information about very rare or obscure objects.<br>
    That is why we want to provide you with quality information regarding your questions.
</p>
<h1>How can you help us?</h1>
<p>Although our purpose is unchanging, we still lack a lot of information, since there are immeasurable amounts of trash.<br>
    We’ve provided a page just for this problem, and you can contribute as well.<br>
    Just input the information, and we will be able to moderate and upload it onto the website.
</p>
{% endblock %}