{% extends 'layout.html' %} 
{% block content %} 
<h1>You can help insert info here</h1>
<a style="font-size:15px;" href="/pass">[edit]</a>
<form action = "/help" method="POST" class="box" enctype="multipart/form-data">
    <h6 {{hidden}}>Thank you for the response, moderation will process for approval.</h6>
    <label for="name">NAME:</label> <br>
    <input type="text" id="name" name="name" minlength="3" maxlength="30" required> <br>
    <label for="description">DESCRIPTION:</label> <br>
    <textarea rows="10" columns="30" id="description" name="description" minlength="15" maxlength="150" required></textarea><br>
    <label for="instructions">INSTRUCTIONS:</label> <br>
    <input type="text" id="instructions" name="instructions" minlength="15" maxlength="150" required><br>
    <label for="bins">LABEL FOR BINS (Please input a number from the table below):</label> <br>
    <input type="number" id="bins" name="bins" min="1" max="8" required><br>
    <table>
        <tr>
            <th>ID</th>
            <th>Trash</th>
            <th>Recyclable</th>
            <th>Compost</th>
        </tr>
        <tr>
            <td>1</td>
            <td>No</td>
            <td>No</td>
            <td>No</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Yes</td>
            <td>No</td>
            <td>No</td>
        </tr>
        <tr>
            <td>3</td>
            <td>No</td>
            <td>Yes</td>
            <td>No</td>
        </tr>
        <tr>
            <td>4</td>
            <td>No</td>
            <td>No</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>No</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Yes</td>
            <td>No</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>7</td>
            <td>No</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
      </table><br>
    <label for="rrr">LABEL FOR THE 3 R (Please input a number from the table below):</label> <br>
    <input type="number" id="rrr" name="rrr" min="1" max="8" required><br>
    <table>
        <tr>
            <th>ID</th>
            <th>Reduce</th>
            <th>Reuse</th>
            <th>Recycle</th>
        </tr>
        <tr>
            <td>1</td>
            <td>No</td>
            <td>No</td>
            <td>No</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Yes</td>
            <td>No</td>
            <td>No</td>
        </tr>
        <tr>
            <td>3</td>
            <td>No</td>
            <td>Yes</td>
            <td>No</td>
        </tr>
        <tr>
            <td>4</td>
            <td>No</td>
            <td>No</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>No</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Yes</td>
            <td>No</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>7</td>
            <td>No</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
      </table><br>
      <label for="image">Select a file:</label>
      <input type="file" id="image" name="image" required>
      <input type="submit" value="SUBMIT">
</form>
{% endblock %}