{% extends 'layout.html' %} 
{% block content %} 
<div class="box" style="display:block">
    <h1>{{trash[1]}}</h1>
    <img src = "/static/images/{{trash[6]}}" class = "image" style="text-align: center;" title="{{trash[1]}}"/>
    <h2>{{trash[2]}}</h2>
    <p>{{trash[3]}}</p>
    <p>Reuse: {{rrr[1]}}<br>
        Reduce: {{rrr[2]}}<br>
        Recycle: {{rrr[3]}}</p>
</div>
<div style="text-align: center;">
    <a class="button" {{hideprevall}} href="{{ '/item/%s'%idm10 }}">◀◀</a>
    <a class="button" {{hideprev}} href="{{ '/item/%s'%idm }}">◀Prev</a>
    <a class="button" {{hideforw}} href="{{ '/item/%s'%idp }}">Next▶</a>
    <a class="button" {{hideforwall}} href="{{ '/item/%s'%idp10 }}">▶▶</a>
</div>
{% endblock %}