{% extends 'layout.html' %} 
{% block content %} 
<div class="box">
    <h1 style="text-align: center;">{{trash[1]}}</h1>
    <img src = "/static/images/{{trash[6]}}" class = "image" style="text-align: center;" title="{{trash[1]}}"/>
    <h2 style="text-align: center;">{{trash[2]}}</h2>
    <p style="text-align: center;">{{trash[3]}}</p>
</div>
<div style="text-align: center;">
    <a {{hideprevall}} href="{{ '/item/%s'%idm10 }}">◀◀</a>
    <a {{hideprev}} href="{{ '/item/%s'%idm }}">◀Prev</a>
    <a {{hideforw}} href="{{ '/item/%s'%idp }}">Next▶</a>
    <a {{hideforwall}} href="{{ '/item/%s'%idp10 }}">▶▶</a>
</div>
{% endblock %}