{% extends 'layout.html' %} 
{% block content %} 
<div class="grid">
{% for trash in trashes %}
    <div class="displaydiv" style="text-align: center;" method>
        <h2>{{trash[1]}}</h2>
        <img class="displayimg" src="/static/images/{{trash[6]}}"/>
        <p>{{trash[2]}}</p>
        <p>{{trash[3]}}</p>
        <p>Bins:{{trash[4]}}</p>
        <p>RRR:{{trash[5]}}</p>
        <form method = "POST" >
            <input type="submit" name="go" value="go" href="/penditem/{{trash[0]}}" formaction="/penditem/{{trash[0]}}">
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}